<div class="p-8">
  <h1 class="font-bold text-6xl text-slate-800 text-center">JoinMy.Party</h1>
  <h2 class="uppercase italic text-xl text-slate-500 text-center">Play interactive games with friends online or in-person <span class="not-italic">📱</span></h2>

  <!-- Replaced with IndexLive -->
</div>