<main class="flex justify-center flex-col w-screen px-4 max-w-3xl mx-auto">
  <a href="/" class="text-slate-800 underline">Return to JoinMy.Party home</a>
  <%= @inner_content %>
    
  <%= JoinmyPartyWeb.PdilemmaWebRules.modal %{} %>

  <footer>
    <small class="text-small">
      You are playing Prisoner's Dilemma. <a class="cursor-pointer" onclick={JoinmyPartyWeb.PdilemmaWebRules.onclick}>Rules 🛈</a>
    </small>
  </footer>
</main>
